html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.shadow-demo {
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.shadow-demo-1 {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}

.shadow-demo-2 {
    width: 100px;
    height: 100px;
    background-color: #000;
}

/*.mask-custom {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    border: 0;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}*/

.custom-1 {
    backdrop-filter: blur(30px);
}

.custom-2 {
    backdrop-filter: blur(60px);
}

.custom-3 {
    backdrop-filter: blur(40px);
}

.custom-4 {
    backdrop-filter: blur(15px);
}

.custom-5 {
    backdrop-filter: blur(5px);
}

/*.mask-custom-1 {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border: 0;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}*/

.custom-6 {
    backdrop-filter: blur(30px);
}

.custom-7 {
    backdrop-filter: blur(60px);
}

.custom-8 {
    backdrop-filter: blur(40px);
}

.custom-9 {
    backdrop-filter: blur(15px);
}

.custom-10 {
    backdrop-filter: blur(5px);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #EFEFFF;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b71ca;
    border-radius: 20px;
}

/*********************** Preview /************************/
.dropdown-item, .dropdown-item > * {
    cursor: pointer;
}

.multiselect-container li.active {
    /*background-image: url(https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png);*/
    background-repeat: no-repeat;
    background-position: 1.25rem 50%;
    background-size: 15px;
    color: #00913b;
    background-color: transparent;
    border-left: 4px solid #00913b;
}

.multiselect-container li label {
    display: block;
}

.multiselect-container li.active > a {
    font-weight: 600;
    color: #00913b;
}

.multiselect-container .dropdown-item input {
    display: none;
}

.multiselect-container .dropdown-menu {
    overflow-y: auto;
    height: 450px;
}

    .multiselect-container .dropdown-menu > .active > a {
        background-color: transparent;
    }

.multiselect-container .dropdown-item {
    margin-bottom: 0;
    padding: 5px 0px 5px 15px;
    border-bottom: 1px solid #dee2e6;
    /*line-height: 1;*/
    cursor: pointer;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

@media only screen and (min-width: 600px) {
    .list-unstyled {
        overflow: auto;
        max-height: 174px;
        min-height: 12em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        padding-bottom: 35px;
    }
}

.container-fluid {
    /*background-image: url(/img/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 800px) {
    .list-unstyled {
        overflow: auto;
        max-height: 236px;
        min-height: 16.5em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        padding-bottom: 35px;
    }
}

@media only screen and (min-width: 1350px) {
    .list-unstyled {
        overflow: auto;
        max-height: 256px; /*443px;*/
        min-height: 19.5em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        margin: 0;
    }
}

@media only screen and (min-width: 1536px) {
    .list-unstyled {
        overflow: auto;
        max-height: 312px; /*443px;*/
        min-height: 26.5em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        margin: 0;
    }
}

@media only screen and (min-width: 1863px) {
    .list-unstyled {
        overflow: auto;
        max-height: 236px;
        min-height: 47.5em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        padding-bottom: 35px;
    }
}

@media only screen and (min-width: 1920px) {
    .list-unstyled {
        overflow: auto;
        max-height: 443px;
        min-height: 40em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        margin: 0;
    }
}

@media only screen and (min-width: 2503px) {
    .list-unstyled {
        overflow: auto;
        max-height: 443px;
        min-height: 61em;
        padding: 9px 10px;
        background-color: #eee;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 4px solid #1A237E;
        margin: 0;
    }
}
/***************************************************Audio player****************************************/
html,
body,
.view {
    height: 100%;
}

#mobile-box {
    width: 360px;
}

.card {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    .card .view {
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card h5 a {
        color: #0d47a1;
    }

        .card h5 a:hover {
            color: #072f6b;
        }

#pButton {
    float: left;
}

#timeline {
    width: 80%;
    height: 3px;
    margin-top: 18px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
}

#pButton {
    margin-top: 12px;
    cursor: pointer;
}

#playhead {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer;
    border: 1px solid #00913b;
}

/**********************************************/
.form-outline textarea.form-control {
    min-height: 7.5em;
}

.dropdown-menu {
    right: 0px;
    left: auto;
    top: 100%;
    margin-top: .125rem;
}

/*******************Materials font ************************/
.material-icons {
    line-height: unset;
}
